{% load static %}
<header>
    <nav>
        <div class="logo">
            <img src="{% static '/css/img/logo7.png' %}" alt="Logo">
        </div>
            <ul>
                <a href="{% url 'index' %}">Anasayfa</a>
                <a href="{% url 'hakkimizda' %}">Hakkımda</a>
                <div class="dropdown">
                    <a href="{% url 'hizmetler' %}">Hizmetler</a>
                    <div class="dropdown-content">
                    <a href="http://127.0.0.1:8000/yuzyuze/">Yüz Yüze Diyet Programı</a>
                    <a href="http://127.0.0.1:8000/kurumsalBeslenme/">Kurumsal Beslenme</a>
                    <a href="http://127.0.0.1:8000/sporcuBeslenme/">Sporcu Beslenmesi</a>
                    </div>
                </div>
                <a href="{% url 'online_diyet' %}">Online Diyet</a>
                <a href="{% url 'tarifler' %}">Tarifler</a>
                <a href="{% url 'blog' %}">Blog</a>
                <a href="{% url 'support' %}">Support</a>
            </ul>
    </nav>
</header>
