{% extends "layout.html" %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static "css/still.css" %}">
{% endblock css_files %}
{% block content %}


    <div class="container">
        <section class="page-center">
            <h2>Hakkımda</h2>
                <p>Merhaba! Ben Aybüke Sözeri, Yeditepe Üniversitesi'nde Diyetisyenlik son sınıf öğrencisiyim. Sağlık ve beslenme konularına olan tutkum, bu alanda kendimi geliştirmeme ve insanlara daha sağlıklı bir yaşam tarzı sunma isteğime ilham kaynağı olmuştur.
                    Yükseköğrenim sürecim boyunca, beslenme bilimine dair derinlemesine bilgi edinmek ve pratik beceriler kazanmak adına çeşitli dersler ve staj deneyimleri geçirdim.
                <p> Sağlıklı beslenme prensiplerini bireylere öğretmek ve onlara kişiselleştirilmiş beslenme programları sunarak yaşam kalitelerini artırmak benim için büyük bir motivasyon kaynağı.</p>
                    
                    Diyetisyenlik alanındaki güncel araştırmalara olan ilgim, beslenme trendlerini yakından takip etme ve bilimsel temelli yaklaşımları uygulama konusundaki kararlılığımı desteklemektedir. Ayrıca, iletişim ve danışmanlık becerilerimi geliştirerek bireylerle güvenilir bir ilişki kurmayı ve onları sağlıklı beslenme konusunda bilinçlendirmeyi hedefliyorum.</p>
                    
                <P> Öğrenim sürecimde edindiğim bilgileri pratikte uygulamak ve bireylerin sağlıklı yaşam hedeflerine ulaşmalarına yardımcı olmak için sabırsızlanıyorum. Siz de sağlıklı bir yaşam tarzına adım atmak ve beslenme alışkanlıklarınızı iyileştirmek istiyorsanız, birlikte çalışmayı dört gözle bekliyorum!</p>
        </section>

   
    </div>

{% endblock %}
