{% extends "layout.html" %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static "css/still.css" %}">
{% endblock css_files %}
{% block content %}


<div class="container">
            <section class="page-center">
                <h1 class="custom-h1">Hoş Geldiniz!</h1>
                    <p>
                    Merhaba ve sağlıklı bir yaşama adım atmak için hoş geldiniz! Aybuke Sozeri olarak, size daha sağlıklı bir yaşam tarzına adım atma konusunda rehberlik etmek ve beslenme alışkanlıklarınızı iyileştirmenize yardımcı olmak için buradayım.
                    </p>

                    <p>
                    Her birey benzersizdir ve ben de size özel bir beslenme planı oluşturarak, hedeflerinize ulaşmanıza yardımcı olmayı amaçlıyorum. Sağlıklı bir yaşam tarzı sadece kilo yönetimi değil, aynı zamanda enerji seviyelerinizi arttırmak, ruhsal sağlığınızı güçlendirmek ve genel refahınızı artırmak anlamına gelir.
                    </p>

                    <h4>Hedefleriniz Bizim İçin Önemli</h4>

                    Sizinle birlikte, ulaşmak istediğiniz hedefleri belirleyeceğiz. Eğer kilo verme, enerji artışı, spordan önce ve sonra beslenme veya özel bir beslenme ihtiyacınız varsa, size uygun bir plan tasarlamak için buradayım.

                    <h4>Neden Biz?</h4>

                    <p>
                    Profesyonel Yaklaşım: Bilimsel temellere dayanan, diyetisyen tarafından hazırlanan beslenme planları. <br><br>
                    Bireysel İlgi: Her bireyin ihtiyaçları farklıdır, bu yüzden size özel çözümler sunuyoruz. <br><br>
                    Sürdürülebilir Değişiklikler: Kalıcı ve sağlıklı beslenme alışkanlıkları oluşturmanıza yardımcı oluyoruz.
                    </p>        
            </section>
 
            <div class="container"> 
                <section class="page-center">
                    
                        <h1>Haber Bülteni</h1> 
                        <a href="https://www.ntv.com.tr/saglik/2-yilda-95-kilo-verdi-corabimi-bile-giyemiyordum,5VGXB5Y1DEuFBqJKfgOcNg" target="_blank">2 Yılda 95 kilo verdi</a><br><br><br>
                        <a href="https://www.ntv.com.tr/saglik/haftada-en-fazla-kac-kilo-verilmeli-sok-diyetler-nash-riskini-arttiriyor,f_6dgBeAdU-CRE-AJ-5dRA" target="_blank">Haftada en fazla kaç kilo verilmeli?</a><br><br><br>
                        <a href="https://sputniknews.com.tr/20220128/kis-aylarinda-bagisiklik-nasil-guclendirilir-1053233177.html" target="_blank">Kış aylarında bağışıklık nasıl güçlendirilir?</a><br><br><br>
                        <a href="https://www.bbc.com/turkce/haberler-dunya-59262871" target "_blank">Diyabet nedir ve nasıl başa çıkılır?</a><br><br><br>
                </section>
            </div>
</div>
{% endblock %}
