{% extends "layout.html" %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static "css/still.css" %}">
{% endblock css_files %}
{% block content %}


    <div class="container">
        <section class="page-center">
            <h2>Kurumsal Beslenme</h2>
            <p>Çalışanların motivasyonunu, verimliliğini, başarısını arttırmak 
                ve sağlığını korumak için kişiye özel beslenme programları hazırlanır, 
                düzenli aralıklarla motive edici beslenme eğitimi verilir ve sezonsal 
                değişimlere bağlı olarak hangi miktarda hangi besini tüketebilecekleri kendilerine sunulur.
        
        </section>
    </div>




{% endblock %}
