{% extends "layout.html" %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static "css/still.css" %}">
{% endblock css_files %}

<link rel="stylesheet" href="{% static 'css/icons.css' %}">
{% block content %}


    <div class="page-center">
        <h1>İletişim</h1>
        <h3>Diyetisyen Aybüke Sözeri</h3>
       <h3> Online Beslenme ve Diyet Danışmanı </h3>


<p>
    
    <h4><span style='font-size:30px;'>&#128241;</span>Telefon ile ulaşın</h4> <p> 0555 555 55 55</p>
    <p>02163033030</p>

    <h4><span style='font-size:30px;'>&#128233;</span> Mail</h4>
    <p><a href="mailto:info@diyetisyenaybukesozeri.com">info@diyetisyenaybukesozeri.com</a></p>
    <p><a href="mailto: aybukesozeri@gmail.com"> aybukesozeri@gmail.com</a></p>
    

     <br> <h4>Instagram:</h4> aybukethenutritionist  
     
   


   <br><br> <h4> Adres:</h4> Caferağa, Dr. Esat Işık Cd., 34710 Kadıköy/İstanbul
   <p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.9066853501863!2d29.02626327601626!3d40.98352412094868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab863f09a88a9%3A0x6d682a3ccb15f95b!2zQ2FmZXJhxJ9hLCBEci4gRXNhdCBJxZ_EsWsgQ2QuLCAzNDcxMCBLYWTEsWvDtnkvxLBzdGFuYnVs!5e0!3m2!1str!2str!4v1704160301571!5m2!1str!2str" width="450" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</p>
    </div>

    
{% endblock %}