{% extends "layout.html" %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static "css/still.css" %}">
{% endblock css_files %}
{% block content %}


<div class="container">
            <section class="page-tarif">
                <h1>Fırında Kabak Mücver</h1>
                    
                    <p>4 adet orta boy kabak</p>
                    <p>2 adet yumurta</p>
                    <p>Yarım demet dereotu</p>
                    <p>20-25 adet maydanoz</p>
                    <p>8-10 adet yeşil soğan</p>
                    <p>200 gram beyaz peynir (diyet yapanlar için light olabilir, miktarı da azaltılabilir)</p>
                    <p>1 çay bardağı un (kıvama göre azalıp eksilebilir, ben tam buğday unu kullandım) <br> 1 adet kabartma tozu</p>
                    <p>Yarım kahve fincanı sıvı yağ (diyette olmayanlar, isteyenler tam doldurabilir) <br> Tuz, karabiber, pul biber <br> Diyette olmayanlar için üzerine serpmek için 250 gr kaşar peyniri</p>

            </section>
 
            <div>
                <section class="page-tarif">
                        <h1>Domatesli Yulaflı Poğaça</h1> 
                        <p>2 su bardağı yulaf</p>
                        <p>1 adet yumurta</p>
                        <p>2 yemek kaşığı dolusu yoğurt</p>
                        <p>Yarım paket kabartma tozu</p>
                        <p>1 adet domates</p>
                        <p>1 kaseden az beyaz peynir</p>
                        <p>5-6 dal maydanoz</p>
                        <p>1 çay kaşığından az pul biber</p>
                        <p>1 çay kaşığından az karabiber</p>
                        <p>Tuz,Çörek otu</p>
                        <p>Tüm malzemeleri bir kaba alalım güzelce karıştıralım fırın tepsisine şekil vererek dizelim.
                            Önceden ısıtılmış 180 derece fırında üzeri kızarana kadar pişirelim.</p>
                </section>
            </div>
            <div>
                <section class="page-tarif">
                        <h1>Kabaklı Diyet Çorba</h1> 
                        <p>3 adet kabak</p>
                        <p>1 adet soğan</p>
                        <p>3 diş sarımsak</p>
                        <p>5 dal maydanoz</p>
                        <p>1 adet domates (domates sosu da olabilir)</p>
                        <p>2 su bardağı süt</p>
                        <p>3 su bardağı su</p>
                        <p>1 tatlı kaşığı tuz</p>
                        <p>1 yemek kaşığı zeytin yağı</p>
                        <p>Kabak, soğan, sarımsak, maydanoz ve domatesi (ben domates sosu kullandım) çok ince olmayacak şekilde doğruyoruz tencereye alıyoruz.
                            Üzerine süt su ve tuz ilave ederek orta ateşte pişiriyoruz.
                            Hiç bir pürüz kalmayacak şekilde blendır ediyoruz.
                            Çok katı olduysa biraz daha su ekleyip kaynatabilirsiniz. afiyet olsun</p>
                </section>
            </div>
            <div>
                <section class="page-tarif">
                        <h1>Diyet Kabak Pizza</h1> 
                       
                        <p>7-8 dilim büyük kabak dilimleri</p>
                        <p>2 yemek kaşığı zeytinyağı</p>
                        <p>1 adet yeşil biber</p>
                        <p>1 adet kırmızı biber</p>
                        <p>Yarım çay bardağı rendelenmiş kaşar peyniri</p>
                        <p>Tuz, kekik, karabiber</p>
                        <p>6-7 adet zeytin</p>
                        <p>Kabaktan pizza olur mu demeyin, yumuşacık çok da lezzetli oluyor☺️ Diyet yapanlar için ideal bir yemek.

                            Büyük bir kabağı soyup, 1-2 cm kalınlığında dilimleyelim ve yağlı kağıt serilmiş fırın tepsisine dizelim.
                            Üzerine, fırça ile çok az zeytinyağı sürelim.
                            Önceden ısıtılmış 190 derece fırında, 5-10 dk yumuşayana kadar pişirelim.
                            Daha sonra kabakları alıp; üzerine tuz, karabiber, kekik serpelim ve küçük küçük doğradığımız biberleri ve zeytinleri serpiştirelim. Yine fırına verelim.
                            İyice piştikten ve kaşar peynirlerini de koyduktan sonra, eriyene kadar fırında bırakalım.
                            Daha sonra alıp, servis yapabiliriz.</p>
                </section>
            </div>
          
</div>
{% endblock %}
