{% extends "layout.html" %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static "css/still.css" %}">
{% endblock css_files %}


{% block content %}

<div class="container">
        <section class="page-center">
            <h2>Yüzyüze Diyet Programı</h2>
             <p>Diyetisyenini her hafta görmek, haftanı değerlendirmek, vücut analizi sonuçlarını yakından takip etmek ve  
                hızlandırılmış programlardan yararlanmak istiyorsan yasaksız ve 
                yüksek motivasyonla ilerleyeceğin bir süreç seni bekliyor.
                Her hafta vücut analizi,
                Her hafta yeni diyet listesi,
                Whatsapp ile 7/24 iletişim,
                Hızlandırılmış diyet Programları
                ile süreci eğlenceli ve yüksek motivasyonla diyette değilmiş gibi 
                geçirmek istiyorsanız bizimle iletişime geçin.
        </section> 
</div>

{% endblock %}
